.env
.env.*
*.env
env.properties
secret.properties
application-prod.yml
application-prod.properties

/data/
docker-compose.override.yml

.idea/
*.iws
*.iml
*.ipr
out/
/src/main/resources/rebel.xml

target/
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*


# !.mvn/wrapper/maven-wrapper.jar

.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.classpath
.project
.settings/
bin/

node_modules/
npm-debug.log
yarn-error.log
package-lock.json
.expo/
dist/
build/
coverage/