server:
  port: ${SERVER_PORT:8080}
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true

spring:
  application:
    name: ViVuMate

  messages:
    encoding: UTF-8
    basename: i18n/messages

  profiles:
    active: dev

  docker:
    compose:
      enabled: false
      file: docker-compose.yml

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:postgresql://localhost:${POSTGRES_PORT:5432}/${POSTGRES_DB:vivumate_db}
    username: ${POSTGRES_USER:postgres}
    password: ${POSTGRES_PASSWORD:123456}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
      format_sql: true
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    mongodb:
      uri: mongodb://${MONGO_USER:admin}:${MONGO_PASSWORD:123456}@localhost:${MONGO_PORT:27017}/${MONGO_DB:vivumate_chat}?authSource=admin

    redis:
      host: localhost
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:123456}

---
spring:
  config:
    activate:
      on-profile: prod

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false

---
vivumate:
  weather:
    api-key: ${OPENWEATHER_API_KEY}
    base-url: https://api.openweathermap.org/data/2.5/weather